.participateContainer {
    background: white;
    flex: 0 0 50% !important;
    border-radius: 5px;
}

.validateRow {
    background:  #EAEBDE;
}

.participateBtn {
    background: #83B2AD !important;
    color: white !important;
    max-width: 20vw;
}
.participationFormContainer table {
    line-height: 45px;
}

.participationTable, .participationFormContainer table thead {
    text-align: center;
}

.participationTable tr {
    background: #D7D8CC;
}

.participationTable tr:nth-child(even){
    background: #EAEBDE;
}

.participationButton {
    background: #eceddc;
    color: #83B2AD;
}

.participationButton tr {
    border-top: 1px solid saddlebrown;
}

.participationButton tr:hover {
    background-color: #c9cd98;
}

.participationNumber {
    max-width: 20% !important;
}

.participationFormContainer {
    background: white;
    padding-top: 5vh !important;
}

.participateResult {
    display: flex;
    justify-content: space-around;
}

.trash:hover {
    color: red;
}