<h2>Inscription à l'évenement {{ data.title }}</h2>
<p> Nous avons bien pris en compte votre inscription à l'évenement, il aura lieu le {{ data.date|date('d/m/Y') }} à {{ data.localisation }}</p>
<p> Vous avez réservé {{ data.total }} place(s)</p>
<h3>Si l'évenement est payant, pensez à emmener un justificatif de paiement au cas où!</h3>