<h2>Annulation de votre participation à {{ data.title }}</h2>
<p> Nous avons bien noté votre annulation, n'hésitez pas à prévenir l'intervenant par mail ({{ data.mailInter }}) ou par téléphone (0{{ data.phoneInter}})
    du nombre de places disponibles suite à votre désistement.</p>
<p>Merci bien!</p>
<h2>Sorties Nature</h2>