<h3>Nouvelle inscription à votre événement {{ date.title }} qui a lieu le {{ data.date }}</h3>
<p> Il ya {{ data.total }} participant(s) en plus, vous pouvez visualiser les informations des participants dans votre tableau de bord.</p>

<p>L'équipe de Sorties Nature</p>