<h3>Un utilisateur s'est désinscrit de votre évenement {{ data.title }} ayant lieu le {{ data.date }}</h3>
<p>Vous pouvez le contacter par mail pour voir le nombre de place qu'il a liberé => {{ data.destinaire }}</p>

<p>L'équipe de Sorties Nature</p>